pi19_02/L1_WCF/L1.Client/Connected Services/ServiceReference1/EncyclopediaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EncyclopediaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8000/EncyclopediaService/Meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8000/EncyclopediaService/Meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8000/EncyclopediaService/Meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEncyclopediaService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetPart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPart" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartResponse" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="IEncyclopediaService_GetArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="IEncyclopediaService">
    <wsdl:operation name="GetStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IEncyclopediaService/GetStatus" message="tns:IEncyclopediaService_GetStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEncyclopediaService/GetStatusResponse" message="tns:IEncyclopediaService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input wsam:Action="http://tempuri.org/IEncyclopediaService/GetInfo" message="tns:IEncyclopediaService_GetInfo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEncyclopediaService/GetInfoResponse" message="tns:IEncyclopediaService_GetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPart">
      <wsdl:input wsam:Action="http://tempuri.org/IEncyclopediaService/GetPart" message="tns:IEncyclopediaService_GetPart_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEncyclopediaService/GetPartResponse" message="tns:IEncyclopediaService_GetPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:input wsam:Action="http://tempuri.org/IEncyclopediaService/GetArticle" message="tns:IEncyclopediaService_GetArticle_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEncyclopediaService/GetArticleResponse" message="tns:IEncyclopediaService_GetArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEncyclopediaService" type="tns:IEncyclopediaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IEncyclopediaService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/IEncyclopediaService/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPart">
      <soap:operation soapAction="http://tempuri.org/IEncyclopediaService/GetPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://tempuri.org/IEncyclopediaService/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncyclopediaService">
    <wsdl:port name="BasicHttpBinding_IEncyclopediaService" binding="tns:BasicHttpBinding_IEncyclopediaService">
      <soap:address location="http://127.0.0.1:8000/EncyclopediaService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>