pi19_02/L1_WCF/L1.Client/Connected Services/ServiceReference1/Meta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EncyclopediaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartList" nillable="true" type="tns:ArrayOfEncyclopediaPartType" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncyclopediaType" nillable="true" type="tns:EncyclopediaType" />
  <xs:complexType name="ArrayOfEncyclopediaPartType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncyclopediaPartType" nillable="true" type="tns:EncyclopediaPartType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEncyclopediaPartType" nillable="true" type="tns:ArrayOfEncyclopediaPartType" />
  <xs:complexType name="EncyclopediaPartType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleInfoList" nillable="true" type="tns:ArrayOfEncyclopediaArticleInfoType" />
      <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncyclopediaPartType" nillable="true" type="tns:EncyclopediaPartType" />
  <xs:complexType name="ArrayOfEncyclopediaArticleInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EncyclopediaArticleInfoType" nillable="true" type="tns:EncyclopediaArticleInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEncyclopediaArticleInfoType" nillable="true" type="tns:ArrayOfEncyclopediaArticleInfoType" />
  <xs:complexType name="EncyclopediaArticleInfoType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EncyclopediaArticleInfoType" nillable="true" type="tns:EncyclopediaArticleInfoType" />
  <xs:complexType name="EncyclopediaArticleType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EncyclopediaArticleType" nillable="true" type="tns:EncyclopediaArticleType" />
</xs:schema>