pi19_02/L1_WCF/L1.Client/Connected Services/ServiceReference1/Meta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8000/EncyclopediaService/Meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" />
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:EncyclopediaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetPartResult" nillable="true" type="q2:EncyclopediaPartType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetArticleResult" nillable="true" type="q3:EncyclopediaArticleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>